.rd-img{
    height: 400px;
    margin-left: 400px;
}
.title-read{
    text-align: center;
    color: blueviolet;
}
.main-read-conrainer{
    margin-left: 200px;
}
.info-read{
    margin-left: 320px;
}